.card .card-content {
    margin: 100px;
}

small {
    text-align: center;
}

img.img-container {
    text-align: center;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}