body {
    background-color: #F9F9F9;
}

.card .card-content {
    margin: 100px;
}

small {
    text-align: center;
}

img.img-container {
    text-align: center;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
a.brand-logo {
    margin-left: 8px;
}